.RocketTableContainer {
	justify-content: flex-end;
	display: flex;
	flex-direction: column;
	padding: 3rem 0 3rem 0;
	background-color: white;
}

.RocketTableHeader {
	display: flex;
	justify-content: space-between;
	padding: 0.25rem;
}

.RocketTableHeader h2 {
	color: black;
	padding-left: 2rem;
}

button {
	background-color: #f7fafc;
	width: 20%;
	border-radius: 0.5rem;
	padding: 16px 24px;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 1.2rem;
	border-style: none;
}

button:hover {
	cursor: pointer;
}

table {
	width: auto;
	table-layout: fixed;
}

tbody {
	width: 100%;
}

tr {
	width: 100%;
}

th,
td {
	padding: 20px 15px;
	text-align: left;
	font-weight: 500;
	font-size: 17px;
	color: black;
}

.columnTitle {
	color: purple;
}

.sort-button {
	background-color: transparent;
	border: none;

	padding: 5px;
	line-height: 1;
	font-size: 1rem;
	cursor: pointer;
	transition: transform 0.2s ease-out;
}

.sort-reverse {
	transform: rotate(180deg);
}
