/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
	box-sizing: border-box;
}
/*
  2. Remove default margin
*/
* {
	margin: 0;
}
/*
  3. Allow percentage-based heights in the application
*/
html {
	font-family: Cambria, Georgia, "Times New Roman",
		Times, serif;
	background: #fff;
	color: #333;
	font-size: 1em;
}
body {
	height: 100%;
}
/*
  Typographic tweaks!
  4. Add accessible line-height
  5. Improve text rendering
*/
body {
	line-height: 1.5;
	-webkit-font-smoothing: antialiased;
	display: flex;
	justify-content: center;
}
/*
  6. Improve media defaults
*/
img,
picture,
video,
canvas,
svg {
	display: block;
	max-width: 100%;
}
/*
  7. Remove built-in form typography styles
*/
input,
button,
textarea,
select {
	font: inherit;
}
/*
  8. Avoid text overflows
*/
p,
h1,
h2,
h3,
h4,
h5,
h6 {
	overflow-wrap: break-word;
}

* {
	font-family: Arial, Helvetica, sans-serif;
}

h1 {
	font-size: 24px;
}
h2 {
	font-size: 22px;
}
h3 {
	font-size: 20px;
}
h4 {
	font-size: 18px;
}
h5 {
	font-size: 16px;
}
h6 {
	font-size: 16px;
}

.RocketTableContainer {
	justify-content: flex-end;
	display: flex;
	flex-direction: column;
	padding-bottom: 3rem;
	background-color: #201182;
}

.RocketTableHeader {
	display: flex;
	justify-content: space-between;
	padding: 0.25rem;
}

.RocketTableHeader h1 {
	color: white;
	padding-left: 2rem;
}

button {
	background-color: #f7fafc;
	width: 20%;
	border-radius: 0.5rem;
	padding: 16px 24px;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 1.2rem;
	border-style: none;
}

button:hover {
	cursor: pointer;
}

table {
	width: auto;
	table-layout: fixed;
	border: 1px solid #201182;
}

tbody {
	width: 100%;
	border: 1px solid #201182;
}

tr {
	width: 33%;
}

th,
td {
	padding: 1rem;
	text-align: left;
	font-weight: 500;
	font-size: 1.2rem;
	color: white;
}

.sectionContainer {
	display: flex;
	flex-direction: column;
	width: 100%;
	padding-bottom: 1.5rem;
	background-color: rgb(237, 242, 247);
}

.titleHolder {
	display: flex;
	justify-content: flex-start;
	padding-left: 2rem;
}

.titleHolder h2 {
	color: white;
}

.CardContainer {
	display: flex;
	flex-wrap: wrap;
}

.Card {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	width: 31%;
	margin: 1%;
	border-radius: 0.5rem;
	background-color: #ffff;
	border-style: none;
	box-shadow: 3.2px 3.8px 3.7px
			rgba(0, 0, 0, 0.044),
		10.7px 12.7px 12.5px rgba(0, 0, 0, 0.066),
		48px 57px 56px rgba(0, 0, 0, 0.11);
}

@media only screen and (max-width: 400px) {
	.CardContainer {
		display: flex;
		flex-direction: column;
		justify-content: center;
		border: 1px solid blue;
		padding: 2.5%;
	}
	.Card {
		background: yellowgreen;
		width: 95%;
	}
	.IndividualCardData {
		width: 100%;
		padding-left: 5%;
	}
	.IndividualCardDataLP {
		width: 100%;
		padding-left: 5%;
	}
}

@media only screen and (min-width: 400px) {
	.CardContainer {
		display: flex;
		flex-wrap: wrap;
		flex-direction: row;
		justify-content: flex-start;
		width: 100%;
		padding: 2.5%;
	}
	.Card {
		background: pink;
		width: 47.5%;
		margin-left: 1.5%;
	}
	.IndividualCardData {
		width: 100%;
		padding-left: 5%;
	}
	.IndividualCardDataLP {
		width: 100%;
		padding-left: 5%;
	}
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
	.Card {
		background: green;
		width: 30%;
	}
	.CardContainer {
		display: flex;
		flex-wrap: wrap;
		flex-direction: row;
	}
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
	.Card {
		background: blue;
	}
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 940px) {
	.Card {
		background: orange;
		width: 47.5%;
	}
	.IndividualCardData {
		display: flex;
		flex-direction: row;
	}
	.IndividualCardData h5 {
		width: 42.5%;
	}
	.IndividualCardData p {
		width: 55%;
	}
}

@media only screen and (min-width: 1075px) {
	.Card {
		background: orange;
	}
	.IndividualCardData {
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-content: baseline;
		align-items: baseline;
	}
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
	.Card {
		background: pink;
	}
	.IndividualCardData {
		display: flex;
		justify-content: flex-start;
		align-content: baseline;
		align-items: baseline;
		width: 100%;
		gap: 2.5%;
	}
	.IndividualCardData h5 {
		width: 42.5%;
		padding-left: 2.5%;
	}
	.IndividualCardData p {
		width: 55%;
	}
}
